joblib==0.13.2
pandas==0.25.1
PyRep==4.1.0.2
rlbench==1.1.0
herl==0.1.0
psutil==5.6.3
scipy==1.6.3
romi.egg==info
matplotlib==3.4.2
imageio==2.6.0
gym==0.18.3
h5py==2.9.0
seaborn==0.9.0
numpy==1.20.3
torch==1.9.0
tqdm==4.36.1
mppca.egg==info
absl==0.0
Classification==0.1.0
commentjson==0.9.0
dotmap==1.3.24
gibson2==1.0.2
glfw==2.1.0
torch==1.9.0
numpy
gym==0.18.3
imageio==2.6.0
scipy
commentjson==0.9.0
GPUtil==1.4.0
GPy==1.10.0
hid==1.0.4
hmmlearn==0.2.6
ipython==7.27.0
keras==2.6.0
moviepy==1.0.3
mujoco_py==2.0.2.13
numpngw==0.0.8
Pillow==8.3.2
plotly==5.3.1
pybullet==3.1.8
pygame==2.0.1
python_dateutil==2.8.2
scikit_learn==0.24.2
screeninfo==0.7
smplx==0.1.28
sphinx_rtd_theme==0.5.2
sshtunnel==0.4.0
stable_baselines==2.10.2
stable_baselines3==1.2.0
tensorboardX==2.4
tensorflow==2.6.0
theano==1.0.5
torchvision==0.10.0
transforms3d==0.3.1
trimesh==3.9.29
