<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Single.SLDPRT">
  <link
    name="Single.SLDPRT">
    <inertial>
      <origin
        xyz="6.9588E-18 1.74902694879012E-17 0.028732"
        rpy="0 0 0" />
      <mass
        value="0.33923" />
      <inertia
        ixx="0.0003003"
        ixy="-9.3675E-21"
        ixz="-8.55510000000057E-24"
        iyy="0.0003003"
        iyz="1.26519958471643E-20"
        izz="0.00040149" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Single.SLDPRT/meshes/Single.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://Single.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Single.SLDPRT/meshes/Single.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>